body{
  background-image:url('icons/popcorn.jpg');
  font-family: "Arial Narrow",Arial,sans-serif;
  min-width: 850px;
  background-attachment: fixed;
}
#theatre{
  margin: auto;
  width:80%;
  background-color: rgba(248, 248, 255, 0.9);
  border: medium solid brown;
  border-radius:20px;
  min-width: 685px;
}
.movie-info{
  text-align: center;
  width:50%;
  margin: auto;
  margin-bottom: 2em;
  font-family: "Century Gothic", "sans-serif";
}
#pricing{
  border: solid thin brown;
  width: 16%;
  float:left;
  margin: 205px 5px 5px 5px;

}
#theatreTab{
  border: thick solid grey;
  border-radius: 20px;
  margin:auto;
  background-color: white;
  padding: 15px;
  max-width: max-content;
}
table{
  border-spacing: 0px;
}
th{
  border: thin solid grey;
  border-radius: 25px;
  padding:5px;
}
td{
  width:50px;
  height:50px;
  background-size:cover;
}
tr:hover > th{
  background-color: lightgrey;
}
.left-sofa-free{
  background-image: url("icons/dom_sofa_l_free.png");
  cursor:pointer;
}
.left-sofa-taken{
  background-image: url("icons/dom_sofa_l_taken.png");
  cursor:not-allowed;
}
.left-sofa-mine, td.left-sofa-free:hover{
  background-image: url("icons/dom_sofa_l_mine.png");
  cursor:pointer;
}
.right-sofa-free{
  background-image: url("icons/dom_sofa_r_free.png");
  cursor:pointer;
}
.right-sofa-taken{
  background-image: url("icons/dom_sofa_r_taken.png");
  cursor:not-allowed;
}
.right-sofa-mine, td.right-sofa-free:hover{
  background-image: url("icons/dom_sofa_r_mine.png");
  cursor:pointer;
}
.armchair-free{
  background-image: url("icons/dom_armchair_free.png");
  cursor:pointer;
}
.armchair-taken{
  background-image: url("icons/dom_armchair_taken.png");
  cursor:not-allowed;
}
.armchair-mine, td.armchair-free:hover{
  background-image: url("icons/dom_armchair_mine.png");
  cursor:pointer;
}
#continue{
  position: relative;
  font-family: "Century Gothic", "sans-serif";
  font-weight: bold;
  font-size:20px;
  display: block;
  border: medium solid brown;
  border-radius:15px;
  padding: 2px 8px;
  margin: 5px auto;
  background-color: lightgrey;
}
#continue.hovered{
  background-color: #4CAF50;
  color:white;
  transition-duration: 0.4s;
  cursor: pointer;
}
.disabled {
  opacity: 0.6;
  cursor: not-allowed;
  transition-duration: 0.4s;
}
#container{
  float: right;
  margin-top:200px;
  width: 22%;
  min-width: max-content;
  padding: 5px;
}
.panel{
  border: medium solid brown;
  border-radius: 25px;
  padding: 5px 35px 5px 35px;
  margin-bottom: 5px;
}
#seatSelection{
  font-size:1.1em;
}
#key img{
  width: 25px;
  height: 25px;
  float: left;
  margin-right: 8px;
}
#poster{
  border: solid thin brown;
}
.theatreInfo{
  background-color: #f2f2f2;
  border-radius:20px;
  border: solid thin #ccc;
  max-width: max-content;
  margin: auto;
}
.theatreInfo p{
  text-align: center;
  font-size: 1.1em;
}
#screenPos{
  font-size: 1.2em;
  background-color: brown;
  color: white;
  width: 30%;
  margin: auto;
}
